* {
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: aqua;
    box-shadow: rgb(73, 216, 216) -5px 5px 20px ;
    color: #30B868;
}
.nav-content {
    display: flex;
    height: 92px;
    max-width: 1360px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}
.nav-text-content ul  {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.nav-text-content ul li ,a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}