* {
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
                                /* button  */
.btn {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: aqua;
    box-shadow: rgb(73, 216, 216) -5px 5px 20px ;
    color: #30B868;
}

.bg-hero-content-btn-3 {
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    background-color: black;
}
                                        /* header */

.nav-content {
    display: flex;
    height: 92px;
    max-width: 1360px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}
.nav-text-content ul  {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.nav-text-content ul li a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

                                    /* main section---1 */

#bg-hero {
    height: 674px;
    background-image:url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-hero-content {
    max-width: 1360px;
    height: 379px;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 154px;
}

.bg-hero-content-btn {
    margin-bottom: 16px;
}
.bg-hero-content-btn a button {
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #ffffff;
    color: #30B868;
    border: none;
    font-size: 16px; 
    font-weight: 500;
}

.bg-hero-content-text h1{
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.bg-hero-content-text p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 10px;
}
.bg-hero-content-battom-btn a button {
        margin:32px 16px;
}

                                     /* main section---2 */
#node-card-section{

    max-width: 1360px;
    height: 448px;
    margin: 0 auto;
}

 .node-content {
     max-width: 1360px;
    text-align: center;
    height: 153px;
    padding-top: 100px;
}
 .node-content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
 .node-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card-content {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}
.card-content-info {
    max-width: 322px;
    height: 300px;
    border-radius: 8px;
    box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 1);
    padding: 24px;
    text-align: center;
}

.card-content-info img {
    padding: 14px;
    margin: 69px 0 16px 0;
    background-color: #F95555;
    border-radius: 100px;
}
.card-content-info h4 {
    color: #001931;
    font-size: 24px;
    font-weight: 600; 
    margin-bottom: 16px;
}
.card-content-info p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 16px;
}


                                    /* main section---3 */

#checkCircle-section {

    max-width: 1360px;
    height: 600px;
    display: flex;
    margin: 120px auto;
    padding-top: 120px;
    gap: 60px;
}
.knowledge-img {
    max-width: 600px;
    height: 600px;
}
.checkCircle-content {
    padding-top: 102px;

}

.checkCircle-content h5 {
        color: #30B868;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 16px;

}
.checkCircle-content h1 {
        color: #001931;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 16px;
}
.checkCircle-content-p {
        color: #627382;
        font-size: 16px;
        margin-bottom: 40px;
}

.checkCircle-text p {
        color: #627382;
        font-size: 16px;
       font-weight: 500;
       line-height: 20px;
        margin-bottom: 16px;
}
                                                /* main section---3 */
.early-sction {
    max-width: 1360px;
    height: 384px;
    border-radius: 12px;
    background-color: #F7F6F2;
    margin: 0 auto;
}

.early-conten {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 80px 40px;
}

.early-conten h1 {
        color: #001931;
        font-size: 40px;
        font-weight: bold;
}

.early-conten p {
        color: #627382;
        font-size: 16px;
        line-height:24px;
        margin-bottom: 24px;
        margin-top: 16px;
}

                        /* footer  */

footer {
    height: 348px;
    background-color:#001931;
    margin-top: 120px;
    text-align: center;
}

.social-links-section {
    max-width: 1360px;
    padding-top: 120px;
    color: #30B868;
    display: flex;
    margin: 0 auto 80px;
    justify-content: space-between;
    
}

.social-links h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
.social-links a {
    color: #ffffff;
    max-width: 20px;
    height: 20px;
    margin-right: 16px;
}
section small {
    color: #FAFAFA ;
    font-size: 16px ;
    line-height: 25px;
    max-width: 1360px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.social-img {
    max-width: 139px;
    height: 60px;
}
